<div class="p-grid p-mt-1 p-mb-2">
    <div class="p-col">
        <h1 class="p-text-light p-mb-3">Listagem de saídas</h1>
    </div>
    <div class="p-col  p-text-center">
        <p-card>Total Aberto: <span class="valores aberto">{{totalAberto | currency:'BRL'}}</span></p-card>
    </div>
    <div class="p-col p-text-center">
        <p-card>Total Pago: <span class="valores pago">{{totalPago | currency:'BRL'}}</span></p-card>
    </div>
    <div class="p-col p-text-center">
        <p-card>Total Geral: <span class="valores aberto">{{totalGeral | currency:'BRL'}}</span></p-card>
    </div>
</div>
<!-- Seção filtros -->
<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-3">
        <div class="p-field">
            <label>Responsável</label>
            <p-dropdown [options]="responsaveisList"
                        [(ngModel)]="respSelected"
                        optionLabel="nome"
                        (onChange)="filtrar()"></p-dropdown>
        </div>

        <div class="p-field">
            <label>Meios de Pagamento</label>
            <p-dropdown [options]="recursoEntradaSaidaList"
                        [(ngModel)]="recursoSelected"
                        optionLabel="descricao"
                        (onChange)="filtrar()"></p-dropdown>
        </div>
        <div [hidden]="esconderPagarcartao">
            <button pButton type="button" label="Pagar Cartão" (click)="displayResponsive = true"></button>
        </div>
        <!-- <div class="p-field">
            <p-button label="Cadastrar" icon="pi pi-check" (onClick)="teste()"></p-button>
        </div> -->
        <div class="p-field">
            <label for="tabMes">Escolha mês e ano</label>
            <p-calendar [(ngModel)]="mesSelected" id="tabMes" dateFormat="mm/yy" [inline]="true" [locale]="ptBr"
                view="month" yearRange="2015:2060" dataType="string" [readonlyInput]="true" (onSelect)="filtra()">
            </p-calendar>
        </div>        
        
    </div>

    <div class="p-col-12 p-md-9">
        <p-table #dt2    [value]="listaFiltros" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
	                [paginator]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                    styleClass="p-datatable-sm" autoLayout="true" [loading]="loading"
                    [globalFilterFields]="['descricao','responsavel', 'meio']">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex">
                            <span class="p-input-icon-left p-ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar...." />
                            </span>
                        </div>
                    </ng-template>
            
            <ng-template pTemplate="header">
                <tr>
                    <th>Descrição</th>
                    <th>Responsável</th>
                    <th>Meio Pgto</th>
                    <th>Valor</th>
                    <th>Vencimento</th>
                    <th>Parcela</th>
                    <th>Situação</th>
                    <th>Ações</th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="descricao"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="responsavel"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="meio"></p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-saida>
                <tr>
                    <td>{{saida.descricao}}</td>
                    <td>{{saida.responsavel}}</td>
                    <td>{{saida.meio}}</td>
                    <td>{{saida.valor | currency:'BRL'}}</td>
                    <td>{{saida.vencimento}}</td>
                    <td>{{saida.parcela}}</td>
                    <td>{{saida.situacao}}</td>
                    <td class="p-col-fixed" style="width:80px">
                        <p-button *ngIf="saida.situacao == 'Aberto'" label="Pagar" styleClass="p-button-rounded p-button-sm" (onClick)="showConfirm(saida)">
                            <fa-icon [icon]="faWallet" class="icone-user p-mr-1"></fa-icon>
                        </p-button>
                        <p-button *ngIf="saida.situacao == 'Pago'" styleClass="p-button-rounded p-button-success p-ml-3 p-button-sm" icon="pi pi-check"
                                (onClick)="teste()"></p-button>

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<!-- Fim Seção filtros -->

<!-- Seção filtros -->
<div class="p-grid p-fluid">

</div>
<!-- Fim seção tabelas -->

<!-- TOAST -->
<p-toast position="center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="pagar()" label="Sim" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="Não" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<!-- modal pagar cartão -->
<p-dialog header="Confirmação" [(visible)]="displayResponsive" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" 
    [draggable]="false" [resizable]="false">
    <p>Deseja pagar o cartão {{recursoSelected.descricao}} no valor de {{totalGeral | currency:'BRL'}} ?</p>
    <p>Essa ação marcará como "PAGO" todas as saídas do cartão {{recursoSelected.descricao}} com vencimento para {{dataVencimentoAtual}} como pagas.</p>
        <ng-template pTemplate="footer">
        <p-button (click)="pagarCartao()" label="Confirmar" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>