<div class="p-grid">

    <div class="p-col-12 p-md-3 p-xl-6 p-mt-2">
        <p-card header="Todas as Saidas" [style]="{'width': '25rem', 'margin-bottom': '2em'}">

            <p>Aqui você poderá ver todas as saídas cadastradas no sistema</p>
            <ng-template pTemplate="footer">
                <a href="/listSaidas">
                    <button pButton label="Listar Saídas" type="button" class="p-button-raised p-button-text" icon="pi pi-external-link">
                    </button>
                    
                    </a>
               
            </ng-template>
        </p-card>
    </div>
    <div class="p-col">
        2
    </div>
    <div class="p-col">3</div>
</div>